:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s linear;
  font-family: "Kanit", serif;
}

body {
  background-color: var(--bg);
}

section {
  padding: 3rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom: var(--border);
}

.header section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.logo img {
  max-height: 70px; /* Ajuste o tamanho máximo */
}

.navbar a {
  margin: 0 1rem;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
}

.navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid #d3ad7f;
  padding-bottom: 0.5rem;
  font-size: 2rem;
}

.icons img {
  margin: 2rem;
  cursor: pointer;
  max-height: 30px;
}

.icons img:hover {
  color: var(--main-color);
  width: 32px;
  height: 32px;
  font-size: 2rem;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 730px) {
  .navbar {
    padding: 1.5rem 4rem;
  }

  .navbar a {
    display: none;
  }

  .icons img {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .mobile-menu .nav-link {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 400;
  }

  .mobile-menu a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid #d3ad7f;
    padding-bottom: 0.5rem;
    font-size: 2rem;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .mobile-menu .icons {
    display: block;
    padding: 1rem 2rem;
  }

  .mobile-menu .icons img {
    width: 100%;
  }

  .open {
    display: block;
  }
}
